{
 :paths ["src"]
 :deps {
        org.clojure/tools.logging {:mvn/version "0.4.1"}
        org.apache.logging.log4j/log4j-api {:mvn/version "2.11.0"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.11.0"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.11.0"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.9.6"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-yaml {:mvn/version "2.9.6"}
        com.lmax/disruptor {:mvn/version "3.4.2"}
;;        com.conversantmedia/disruptor {:mvn/version "1.2.11" :exclusions [org.slf4j/slf4j-api]}
;;        org.jctools/jctools-core {:mvn/version "2.1.2"}

        }
 :aliases {
           :async {:jvm-opts ["-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector"]}
           }
}
